@page "/"
@page "/capture"
@using Size = MudBlazor.Size
@using Color = MudBlazor.Color
@using PhotoBooth.Abstraction
@inject IStringLocalizer<Index> localizer


<div class="capture_container">

    <InfoDialog @ref="InfoDialog" ConfirmationChanged="ConfirmDelete_Click"
                Description=@LastError PositiveButtonText=@localizer["capture.error_dialog.ok"] Title=@localizer["capture.error_dialog.error"]>
    </InfoDialog>
    
    <div class="center-div">
        <img id="capture_image" style="margin: auto;"/>
    </div>

    <div class="header">

        @if (IsReviewCountDownVisible)
        {
            <p class="p-overlay">@ReviewCountDownStep s</p>
        }

    </div>

    @if (IsReadyForCapture)
    {
        <div class="center-top-div" style="margin-top: 20px;">
            <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined" Size="Size.Large" style="margin: auto;">

                @if (CaptureLayout == CaptureLayouts.SingleImage)
                {
                    <MudIconButton Icon="@Icons.Filled.Filter1" Disabled="true" Size="Size.Large" Color="Color.Default" Style="background-color: #AED581" OnClick="@OnSingleImageClicked"/>
                    <MudIconButton Icon="@Icons.Filled.Filter4" Size="Size.Large" Color="Color.Default" OnClick="@OnMultiImageClicked"/>
                }
                else
                {
                    <MudIconButton Icon="@Icons.Filled.Filter1" Size="Size.Large" Color="Color.Default" OnClick="@OnSingleImageClicked"/>
                    <MudIconButton Icon="@Icons.Filled.Filter4" Disabled="true" Size="Size.Large" Color="Color.Default" Style="background-color: #AED581" OnClick="@OnMultiImageClicked"/>
                }
            </MudButtonGroup>
        </div>

        <div class="center-top-div">
            <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined" Size="Size.Large" style="margin: auto;">

                @if (CaptureLayout == CaptureLayouts.SingleImage)
                {
                    <MudText Typo="Typo.body1">@localizer["capture.layout.single"]</MudText>
                }
                else
                {
                    <MudText Typo="Typo.body1">@localizer["capture.layout.gallery"]</MudText>
                }
            </MudButtonGroup>
        </div>
    }

    @if (IsCaptureInProgress)
    {
        <div class="center-top-div">
            <p style="font-size: 5em;">@CaptureStepInfo</p>
        </div>
    }

    <div class="center-div">
        
        @if (IsReadyForCapture)
        {
            <div class="round-button">
                <div class="round-button-circle">
                    <div class="round-button-text" style="font-size: 3.5em" @onclick="() => CaptureImage()">@localizer["capture.start"]</div></div></div>
        }

        @if (IsSpinnerVisible)
        {
            <div class="spinner"></div>
        }

        @if (IsCountDownVisible)
        {
            <p style="font-size: 10em;">@CountDownStep</p>
        }

    </div>

    <div class="footer_right">

        @if (IsPrintButtonVisible)
        {
            <div class="round-button-small"><div class="round-button-circle-print"><div class="round-button-text" style="font-size: 1.8em" @onclick="() => PrintImage()">@localizer["capture.print"]</div></div></div>
            <div class="round-button-mini"><div class="round-button-circle-skip"><div class="round-button-text" style="font-size: 1.2em" @onclick="() => Skip()">@localizer["capture.skip"]</div></div></div>
        }
    </div>

    <div class="footer_left">
        <p class="p-overlay">@State</p>
    </div>

</div>