@page "/"
@page "/capture"
@inject IStringLocalizer<Index> localizer

<div class="capture_container">

    <InfoDialog @ref="InfoDialog" ConfirmationChanged="ConfirmDelete_Click"
                Description=@LastError PositiveButtonText=@localizer["capture.error_dialog.ok"] Title=@localizer["capture.error_dialog.error"]>
    </InfoDialog>

    <div class="center-div">

        @if (IsReviewImageVisible)
        {
            <img src="@String.Format("data:_image/jpg;base64,{0}", Image)" style="margin: auto;" />
        }

    </div>


    <div class="header">

        @if (IsReviewCountDownVisible)
        {
        <p class="p-overlay">@ReviewCountDownStep s</p>
        }

    </div>

    <div class="center-div">



        @if (IsCaptureButtonVisible)
        {
            <div class="round-button">
                <div class="round-button-circle">
                    <div class="round-button-text" style="font-size: 3.5em" @onclick="() => CaptureImage()">@localizer["capture.start"]</div></div></div>
        }

        @if (IsSpinnerVisible)
        {
            <div class="spinner"></div>
        }

        @if (IsCountDownVisible)
        {
            <p style="font-size: 10em;">@CountDownStep</p>
        }

    </div>

    <div class="footer_right">

        @if (IsPrintButtonVisible)
        {
            <div class="round-button-small"><div class="round-button-circle"><div class="round-button-text" style="font-size: 1.8em" @onclick="() => PrintImage()">@localizer["capture.print"]</div></div></div>
        }
    </div>

    <div class="footer_left">
        <p class="p-overlay">@State</p>
    </div>

</div>