@page "/home"
@inject IStringLocalizer<Index> localizer


<div style="padding: 20px;">
    <h3>@localizer["home.title.welcome"]</h3>

    <div style="margin: 20px;background-color: white">

        <Steps SelectedStep="@SelectedStep" SelectedStepChanged="@OnSelectedStepChanged">
            <Content >
                <StepPanel Name="step_usb_device" >

                    <StepItem Header="Connected Devices" Title="Show USB Devices" Description="The printer and the camera have to be listed in the usb device list.
                                If the printer or camera is not available check the wiring and power setup of the printer or camera and press update." IsNextDisabled=@IsNextDisabled NextAction=@GoToNextStep PreviousAction=@GoToPreviousStep>

                        <Table Striped="true" Narrow="true" Bordered="true">
                            <TableHeader>
                                <TableRow>
                                    <TableHeaderCell>
                                        @localizer["home.devices"]

                                        <Button @onclick="UpdateUsbDevice" Style="background-color:white">
                                            <Icon Name="@("refresh")" IconStyle="IconStyle.Light" TextColor="TextColor.Black50" />
                                        </Button>
                                    </TableHeaderCell>
                                </TableRow>
                            </TableHeader>
                            <TableBody>
                                @foreach (var device in UsbDevices)
                                {
                                    <TableRow>
                                        <TableRowCell>@device</TableRowCell>
                                    </TableRow>
                                }
                            </TableBody>
                        </Table>

                    </StepItem>

                </StepPanel>

                <StepPanel Name="step_camera" Class="step_container">

                    <StepItem Header="Connected Cameras" Title="Camera Selection" Description="Select the desired camera.
                                If the camera is not available check the wiring and power setup of the camera and press update." IsNextDisabled=@IsNextDisabled NextAction=@GoToNextStep PreviousAction=@GoToPreviousStep>

                        <Button class="btn btn-secondary" @onclick="ListCameras">
                            <Icon Name="IconName.Redo" IconStyle="IconStyle.Light" TextColor="TextColor.White" />
                        </Button>

                        <select class="form-control" @bind="SelectedCamera">
                            @foreach (var langCode in Cameras)
                            {
                                <option value="@langCode.CameraModel">@langCode.CameraModel</option>
                            }
                        </select>

                    </StepItem>

                </StepPanel>
                <StepPanel Name="step_printer" Class="step_container">

                    <StepItem Header="Connected Printers" Title="Printer Selection" Description="Select the desired printer.
                                If the printer is not available check the wiring and power setup of the printer and press update." IsNextDisabled=@IsNextDisabled NextAction=@GoToNextStep PreviousAction=@GoToPreviousStep>

                        <Button class="btn btn-secondary" @onclick="ListPrinters">
                            <Icon Name="IconName.Redo" IconStyle="IconStyle.Light" TextColor="TextColor.White" />
                        </Button>


                        <select class="form-control" @bind="SelectedPrinter">
                            @foreach (var langCode in Printers)
                            {
                                <option value="@langCode.Name">@langCode.Name</option>
                            }
                        </select>

                    </StepItem>

                </StepPanel>
                <StepPanel Name="step_capture" Class="step_container">

                    <StepItem Header="Test Capture" Title="Capture" Description=" Trigger a camera image." IsNextDisabled=@IsNextDisabled NextAction=@GoToNextStep PreviousAction=@GoToPreviousStep>

                        @if (IsSpinnerVisible)
                        {
                            <div class="spinner"/>
                        }else{

                            @if (IsReviewImageVisible)
                            {
                                <img src="@String.Format("data:_image/jpg;base64,{0}", Image)" style="margin: auto;" />
                            }

                            <Button class="btn btn-secondary" @onclick="CaptureImage">@localizer["home.capture_image"]</Button>
                            <br />
                        }

                    </StepItem>

                </StepPanel>
                <StepPanel Name="step_print" Class="step_container">

                    
                    <StepItem Header="Test Print" Title="Print" Description="Print the camera image." IsNextDisabled=@IsNextDisabled NextAction=@GoToNextStep PreviousAction=@GoToPreviousStep>

                        @if (IsReviewImageVisible)
                        {
                            <img src="@String.Format("data:_image/jpg;base64,{0}", Image)" style="margin: auto;" />
                        }


                        <Button class="btn btn-secondary" @onclick="PrintImage">@localizer["home.print_image"]</Button>

                    </StepItem>

                </StepPanel>
            </Content>

            <Items>
                <Step Name="step_usb_device">Check USB devices</Step>
                <Step Name="step_camera">Select Camera</Step>
                <Step Name="step_printer">Select Printer</Step>
                <Step Name="step_capture">Capture Image</Step>
                <Step Name="step_print">Print Image</Step>
            </Items>
        </Steps>
    </div>

    @localizer["home.intro.camera_connected"]

    <NavLink class="nav-link" href="settings">

        <Button class="btn btn-secondary">@localizer["home.check_settings"]</Button>
    </NavLink>

    <NavLink class="nav-link" href="capture">

        <Button class="btn btn-primary">@localizer["home.lets_go"]</Button>
    </NavLink>

</div>

