@page "/settings"
@inject IStringLocalizer<Index> localizer

<div style="padding: 20px; overflow-x: auto; overflow-y: scroll; height: 100%; ">

    <h3>@localizer["settings.title.settings"]</h3>

    <PrinterQueueDialog @ref="PrinterDialog" />
    <CapturedImageDialog @ref="ImageDialog" />
    
    <Fields Style="margin:20px; max-width: 400px; height: 100%;">
        <Field ColumnSize="ColumnSize.IsFull">

            <FieldLabel>@localizer["settings.selected_language"]</FieldLabel>

            <select class="form-control" @bind="SelectedLanguage">
                @foreach (var langCode in langCodes)
                {
                <option value="@langCode.IsoCode">@langCode.Name</option>
                }
            </select>
        </Field>

        <Field ColumnSize="ColumnSize.IsFull">
            <FieldLabel>@localizer["settings.selected_camera"]</FieldLabel>
            <TextEdit Disabled Text=@SelectedCamera/>
        </Field>


        <Field ColumnSize="ColumnSize.IsFull">
            <FieldLabel>@localizer["settings.selected_printer"]</FieldLabel>
            <TextEdit Disabled Text=@SelectedPrinter/>
        </Field>


        <Field ColumnSize="ColumnSize.IsFull">
            <FieldLabel>@localizer["settings.printer_queue"]</FieldLabel> 
            <p><a href=@PrintServerUrl target="_blank" class="ml-md-auto">Cups-Print-Server</a></p>
        </Field>

        <Field ColumnSize="ColumnSize.IsFull">
            <FieldLabel>@localizer["settings.captured_images"]</FieldLabel>
            <p>
                <Blazorise.button class="btn btn-secondary" @onclick="() => ShowAvailableImages()">@localizer["settings.show_captured_images"]</Blazorise.button>
            </p>
        </Field>


        <Field ColumnSize="ColumnSize.IsFull">
            <FieldLabel>@localizer["settings.review_count_down_step_count"]</FieldLabel>
            <NumericEdit TValue="int" @bind-Value="@ReviewCountDownStepCount" />
        </Field>

        <Field ColumnSize="ColumnSize.IsFull">
            <FieldLabel>@localizer["settings.capture_count_down_step_count"]</FieldLabel>
            <NumericEdit TValue="int" @bind-Value="@CaptureCountDownStepCount" />
        </Field>


        <Field ColumnSize="ColumnSize.IsFull">
            <FieldLabel>@localizer["settings.step_duration_in_seconds"]</FieldLabel>
            <NumericEdit TValue="double" @bind-Value="@StepDownDurationInSeconds" />
        </Field>

        <Field ColumnSize="ColumnSize.IsFull">
            <FieldLabel>@localizer["settings.review_image_width"]</FieldLabel>
            <NumericEdit TValue="int" @bind-Value="@ReviewImageWidth" />
        </Field>

        <Field ColumnSize="ColumnSize.IsFull">
            <FieldLabel>@localizer["settings.review_image_quality"]</FieldLabel>
            <NumericEdit TValue="int" @bind-Value="@ReviewImageQuality" />
        </Field>

        <Field ColumnSize="ColumnSize.IsFull">
            <Blazorise.button class="btn btn-primary" @onclick="() => SaveSettings()">@localizer["settings.save_settings"]</Blazorise.button>
        </Field>

    </Fields>


</div>


